*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.timeline {
    white-space: nowrap;
    overflow-x: auto;
}

.timeline ol {
    font-size: 0;
    width: 100%;
    padding: 85px 120px 115px;
    transition: all 1s;
}

/* Timeline line */

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    height: 3px;
    width: 35%;
    min-width: 250px;
    background: #dadbdd;
    border: 1px solid #dadbdd;
}

.timeline ol li.danger-line {
    background: #ce1745;
    border: 1px solid #e15b6b;
}

.timeline ol li.warning-line {
    background: #f5a623;
    border: 1px solid #f2ca8a;
}

.timeline ol li.success-line {
    background: #7ed321;
    border: 1px solid #9ae947;
}

.timeline ol li:last-child {
    width: 0;
    min-width: 0;
    background: none;
    border: none;
}

.timeline ol li:not(:first-child) {
    margin-left: 14px;
}

/* Timeline point */

.timeline ol li .timeline-point {
    /* content: ''; */
    position: absolute;
    top: 50%;
    right: calc(100% + 1px);
    bottom: 0;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #94979b;
    border: 3px solid #dadbdd;
    z-index: 1;
    transition: ease-in .1s;
}

.timeline ol li .timeline-point.danger {
    background: #ce1745;
    border: 3px solid #ce1745;
}

.timeline ol li .timeline-point.warning {
    background: #f5a623;
    border: 3px solid #f5a623;
}

.timeline ol li .timeline-point.success {
    background: #7ed321;
    border: 3px solid #7ed321;
}

.timeline ol li .timeline-point:hover, .timeline ol li .timeline-point:focus {
    background-color: #dadbdd;
    border: 4px solid #94979b;
    cursor: pointer;
    outline: none;
}

/* Timeline message */

.timeline ol li .timeline-message {
    position: absolute;
    left: -50px;
    font-size: 1.1rem;
    font-weight: bold;
    white-space: normal;
    min-width: 150px;
    margin-top: 30px;
}

/* Timeline date */

.timeline .timeline-date {
    position: absolute;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    bottom: 35px;
    left: -50px;
}

.timeline .timeline-date.header {
    font-size: 1.1rem;
    bottom: 65px;
    color: #b0b7c4;
}

.timeline .timeline-date.location {
    font-size: 1.1rem;
    bottom: 18px;
    color: #b0b7c4;
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
    margin-right: 20px;
}

.timeline .disabled {
    opacity: .5;
}

.timeline .arrows img {
    width: 45px;
    height: 45px;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 599px) {
    .timeline ol, .timeline ol li {
        width: auto;
    }
    .timeline ol {
        padding: 0;
        transform: none !important;
    }
    .timeline ol li {
        display: block;
        height: auto;
        background: transparent;
    }
    .timeline ol li:first-child {
        margin-top: 25px;
    }
    .timeline ol li:not(:first-child) {
        margin-left: auto;
    }
    .timeline ol li .timeline-message {
        width: 94%;
        height: auto !important;
        margin: 0 auto 25px;
    }
    .timeline ol li .timeline-message {
        position: static;
    }
    .timeline ol li:nth-child(odd) .timeline-message {
        transform: none;
    }
    .timeline ol li:nth-child(odd) .timeline-message::before, .timeline ol li:nth-child(even) .timeline-message::before {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border: none;
        border-left: 1px solid white;
        height: 25px;
    }
    .timeline ol li:last-child, .timeline ol li:nth-last-child(2) .timeline-message::before, .timeline ol li:not(:last-child)::after, .timeline .arrows {
        display: none;
    }
}