/*=========================================================================================
	File Name: vertical-compact-menu.scss
	Description: A compact size menu provides more space to content part with open and hide support.
	It support light & dark version, filpped layout, right side icons, native scroll and borders menu
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.vertical-compact-menu .content {
    margin-left: 130px;
}

.vertical-compact-menu .navbar .navbar-header {
    float: left;

    width: 130px;
}

.vertical-compact-menu .navbar .navbar-container {
    margin-left: 130px;
}

.vertical-compact-menu .navbar.navbar-brand-center .navbar-container {
    margin-left: 0;
}

.vertical-compact-menu .navbar.navbar-brand-center .navbar-header {
    float: left;

    width: auto;
}

.vertical-compact-menu .main-menu,
.vertical-compact-menu .vertical-overlay-menu.menu-hide .main-menu,
.vertical-overlay-menu .main-menu.menu-hide .vertical-compact-menu .main-menu {
    left: 0; 

    width: 130px;
}
.vertical-compact-menu .main-menu .main-menu-header .user-content .media-left {
    display: block;

    padding: 0; 

    text-align: center;
}
.vertical-compact-menu .main-menu .main-menu-header .user-content .media-left .avatar-md {
    width: 60px;

    text-align: center;
}
.vertical-compact-menu .main-menu .main-menu-header .user-content .media-body {
    display: block;

    width: auto;
    margin: 0;
    margin-top: .5rem; 
    padding: 0;

    text-align: center;
}
.vertical-compact-menu .main-menu .main-menu-header .user-content .media-right {
    display: none;
}
.vertical-compact-menu .main-menu .main-menu-content > span.menu-title,
.vertical-compact-menu .main-menu .main-menu-content a.menu-title {
    font-weight: 600;

    right: -260px;

    width: 260px;
    padding: 14px 20px; 

    text-align: left;
    text-transform: uppercase;

    color: #fff;
    border-color: #1e9ff2;
    background-color: #1e9ff2;
}
.vertical-compact-menu .main-menu .main-menu-content > ul.menu-content {
    left: 130px;

    width: 260px;

    -webkit-transition: visibility .25s,opacity .25s;
       -moz-transition: visibility .25s,opacity .25s;
         -o-transition: visibility .25s,opacity .25s;
            transition: visibility .25s,opacity .25s;

    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .02); 
    -webkit-box-shadow: 25px 5px 75px 2px rgba(64, 70, 74, .2);
            box-shadow: 25px 5px 75px 2px rgba(64, 70, 74, .2);
}
.vertical-compact-menu .main-menu .main-menu-content > ul.menu-content li {
    position: relative; 

    white-space: nowrap;
}
.vertical-compact-menu .main-menu .main-menu-content > ul.menu-content li a {
    display: block;

    padding: 8px 20px 8px 20px;

    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}
.vertical-compact-menu .main-menu .main-menu-content > ul.menu-content li.has-sub > a:not(.mm-next):after {
    font-family: 'LineAwesome';
    font-size: 1rem;

    position: absolute;
    top: 14px;
    right: 20px;

    display: inline-block;

    content: '\f112';
    transition: -webkit-transform .2s ease-in-out; 
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}
.vertical-compact-menu .main-menu .main-menu-content > ul.menu-content li.has-sub .has-sub > a:not(.mm-next):after {
    top: 8px;
}
.vertical-compact-menu .main-menu .main-menu-content > ul.menu-content li.open > a:not(.mm-next):after {
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
}
.vertical-compact-menu .main-menu .main-menu-content > ul.menu-content li:hover > a,
.vertical-compact-menu .main-menu .main-menu-content > ul.menu-content li.hover > a {
    -webkit-transform: translateX(4px);
       -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
         -o-transform: translateX(4px);
            transform: translateX(4px);
}
.vertical-compact-menu .main-menu .main-menu-content > ul.menu-content li:hover > a > a,
.vertical-compact-menu .main-menu .main-menu-content > ul.menu-content li.hover > a > a {
    -webkit-transform: translateX(-4px);
       -moz-transform: translateX(-4px);
        -ms-transform: translateX(-4px);
         -o-transform: translateX(-4px);
            transform: translateX(-4px);
}
.vertical-compact-menu .main-menu .navigation {
    overflow: visible;
}
.vertical-compact-menu .main-menu .navigation > li.navigation-header {
    font-weight: 800; 

    padding: 12px 20px;

    text-align: center;
}
.vertical-compact-menu .main-menu .navigation > li > a {
    width: auto;
    padding: .5rem 1rem;

    -webkit-transition: visibility .25s,opacity .25s;
       -moz-transition: visibility .25s,opacity .25s;
         -o-transition: visibility .25s,opacity .25s;
            transition: visibility .25s,opacity .25s; 
    text-align: center;
}
.vertical-compact-menu .main-menu .navigation > li > a > i {
    font-size: 2.2rem;

    display: block;

    width: 100%;
    margin: 0 auto;
    margin: .2rem 0 .8rem 0;

    text-align: center;
}
.vertical-compact-menu .main-menu .navigation > li > a > i:before {
    -webkit-transition: 200ms ease all;
       -moz-transition: 200ms ease all;
         -o-transition: 200ms ease all;
            transition: 200ms ease all;
}
.vertical-compact-menu .main-menu .navigation > li > a > span {
    overflow: hidden;

    vertical-align: middle; 
    white-space: nowrap;
    text-overflow: ellipsis;
}
.vertical-compact-menu .main-menu .navigation > li.hover > ul {
    display: none;
}
.vertical-compact-menu .main-menu .navigation > li.hover > a > span {
    visibility: visible;

    opacity: 1;
}
.vertical-compact-menu .main-menu .mTSWrapper {
    overflow: visible;
}

.vertical-compact-menu.menu-open .main-menu {
    -webkit-transition: opacity .25s,top .35s,height .35s, -webkit-transform .25s;
       -moz-transition: transform .25s, opacity .25s,top .35s,height .35s, -moz-transform .25s;
         -o-transition: opacity .25s,top .35s,height .35s, -o-transform .25s;
            transition: opacity .25s,top .35s,height .35s, -webkit-transform .25s;
            transition: transform .25s, opacity .25s,top .35s,height .35s;
            transition: transform .25s, opacity .25s,top .35s,height .35s, -webkit-transform .25s, -moz-transform .25s, -o-transform .25s;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    opacity: 1;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000;
       -moz-perspective: 1000;
            perspective: 1000;
}

.vertical-compact-menu.menu-open .content,
.vertical-compact-menu.menu-open .footer {
    margin-left: 130px;
}

.vertical-compact-menu.menu-open .navbar-brand-center .content,
.vertical-compact-menu.menu-open .navbar-brand-center .footer {
    margin-left: 0;
}

.vertical-compact-menu.menu-open.boxed-layout .main-menu {
    -webkit-transform: translate3d(130px, 0, 0);
       -moz-transform: translate3d(130px, 0, 0);
            transform: translate3d(130px, 0, 0);
}

.vertical-compact-menu .main-menu.menu-hide .content {
    margin-left: 0;
}

.vertical-compact-menu .main-menu.menu-hide {
    -webkit-transition: opacity .25s,top .35s,height .35s, -webkit-transform .25s;
       -moz-transition: transform .25s, opacity .25s,top .35s,height .35s, -moz-transform .25s;
         -o-transition: opacity .25s,top .35s,height .35s, -o-transform .25s;
            transition: opacity .25s,top .35s,height .35s, -webkit-transform .25s;
            transition: transform .25s, opacity .25s,top .35s,height .35s;
            transition: transform .25s, opacity .25s,top .35s,height .35s, -webkit-transform .25s, -moz-transform .25s, -o-transform .25s;
    -webkit-transform: translate3d(-130px, 0, 0);
       -moz-transform: translate3d(-130px, 0, 0);
            transform: translate3d(-130px, 0, 0);

    opacity: 0;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000;
       -moz-perspective: 1000;
            perspective: 1000;
}

.vertical-compact-menu.menu-hide .content,
.vertical-compact-menu.menu-hide .footer {
    margin-left: 0;
}

.vertical-compact-menu.menu-hide .navbar-brand-center .content,
.vertical-compact-menu.menu-hide .navbar-brand-center .footer {
    margin-left: 0;
}

@media (min-width: 992px) {
    body.vertical-compact-menu .main-menu,
    body.vertical-compact-menu .vertical-overlay-menu.menu-hide .main-menu,
    .vertical-overlay-menu.menu-hide body.vertical-compact-menu .main-menu
 {
        width: 130px;
    }
    body.vertical-compact-menu .navbar .navbar-header
 {
        width: 130px;
    }
    body.vertical-compact-menu .content,
    body.vertical-compact-menu .footer
 {
        margin-left: 130px;
    }
}

@media (max-width: 991.98px) {
    body.vertical-compact-menu .navbar .navbar-header
 {
        width: 0;
    }
    body.vertical-compact-menu .content,
    body.vertical-compact-menu .footer
 {
        margin-left: 0;
    }
}

@media (max-width: 767.98px) {
    body.vertical-compact-menu .content,
    body.vertical-compact-menu .footer
 {
        margin-left: 0;
    }
}

[data-textdirection='rtl'] body.vertical-layout.vertical-compact-menu .main-menu .navigation > li > a > span {
    display: none;
}