.autocomplete-container {
    display: inline-block;
    margin: 2px;
}

.autocomplete-container>input {
    margin-left: 10px;
    border: 0;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.autocomplete-container>input:focus {
    border-bottom: 1px solid #000;
    outline: none;
}

.no-suggestions {
    color: #999;
    padding: 0.5rem;
}

.suggestions {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    font-size: 0.85rem;
    margin-top: 0;
    max-height: 145px;
    overflow-y: auto;
    padding-left: 0;
    width: 180px;
}

.suggestions li {
    padding: 0.375rem;
}

.suggestion-active, .suggestions li:hover {
    background-color: #d8d8d8d8;
    color: #000000;
    cursor: pointer;
    font-weight: 700;
}

.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}