.chip {
    display: inline-block;
    padding: 5px 5px 5px 10px;
    margin: 3px;
    height: 24px;
    font-size: .85rem;
    line-height: 15px;
    border-radius: 25px;
    background-color: #e7e7e7;
    cursor: pointer;
}

.chip:hover {
    background-color: #e0e0e0;
    color: #000
}

.chip>.close-btn {
    padding-left: 5px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 15px;
    cursor: pointer;
}

.chip>.close-btn:hover {
    color: #000
}