.edit-button {
    cursor: pointer;
    padding: 2px 8px;
    border-radius: 25px;
    background: #eee;
    transition: background-color .3s;
}

.edit-button:hover {
    background: rgb(223, 223, 223);
    color: #777;
}