.carousel-content {
    width: auto;
    height: 100%;
    display: inline-block;
}

.carousel-center {
    float: left;
    width: 100%;
    height: 100%;
    max-height: 300px;
    /*Set to hidden later to deny scolling to user*/
    overflow: hidden;
    white-space: nowrap;
}

/* ARROWS */

.arrow {
    position: absolute;
    z-index: 1;
    top: 52%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #dfdfdf;
    background-color: #fff;
    transition: border-color .3s;
    padding-top: 3px;
}

.arrow:hover {
    border-color: #dd2c48;
    color: #dd2c48;
}

.arrow:focus {
    outline: none;
}

.text-replace {
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
}

.arrow-prev {
    left: 15px;
}

.arrow-next {
    right: 15px;
}