.support-footer {
    max-height: 20%;
    width: 100%;
    position: relative;
    padding: 45px 60px 0;
    clear: both;
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
    background: #f5f5f5;
}

.support-footer .block.talk-to-expert {
    width: 55%;
    max-width: 550px;
    margin-right: 1.5rem;
    cursor: pointer;
}

.support-footer .block.customer-support {
    width: 45%;
    max-width: 550px;
    cursor: pointer;
}

.support-footer .block {
    height: 100%;
    z-index: 1;
    margin: auto 0;
}

.icons {
    float: left;
    font-size: 30px;
    margin-top: 5px;
}

.support-footer .block .support-content {
    margin-left: 50px;
}
.support-footer .block .support-content .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}