#dropBox {
    border: 2px;
    border-style: dashed;
    border-radius: 12px;
    width: 280px;
    margin: 5px;
    padding: 25px;
}
#fileElem {
    height: 100%;
    width: 100%;
    visibility: hidden;
}

#dropBox.circular {
    border-style: dashed;
    border-radius: 50%;
    width: 180px;
    margin: 5px;
    padding: 25px;
}

#dropBox:hover, .dropbox-active {
    /* border-style: dotted; */
    background-color: #f7f7f7;
    border-color: #ce1745;
    color: #000;
    cursor: pointer;
}

.uploaded-list {
    width: 100%;
    padding: 5px;
}

.uploaded-list>.uploaded-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 15px;
    background-color: #f8f8f8;
    border-radius: 6px;
}

.uploaded-list>.uploaded-item .item-thumbnail {
    width: 45px;
    height: 45px;
    border-radius: 6px;
    margin: 10px;
    border: 1px soldid grey;
}

.uploaded-list>.uploaded-item .item-description {
    width: 100%;
    overflow: hidden;
    margin: 10px;
}

.uploaded-list>.uploaded-item .item-actions {
    min-width: 70px;
    width: 25%;
    margin: 1rem;
}