.venue-view {
    cursor: pointer;
    min-width: 125px;
    min-height: 130px;
    text-align: center;
    padding: 10px;
    margin: 15px;
    transition: ease-in .1s;
}

.venue-view:hover, .venue-view:active, .venue-view:focus, .venue-view.selected {
    background: #dddee6;
    border-radius: 5px;
}

.venue-view>.venue-image {
    display: block;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 12px auto;
    padding: 12px 0;
    background-color: #dddee6;
    transition: ease-in .1s;
}

.venue-view:hover>.venue-image, .venue-view.selected>.venue-image{
    background-color: #fff;
}