* {
    direction: ltr;
}

.wine-attribute {
    font-size: 12px;
    color: #000;
    letter-spacing: 1px;
}

.wine-value {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

fieldset {
    border: 0 !important;
}

html body.fixed-navbar {
    padding-top: 5rem;
}

.hoverable {
    cursor: pointer;
}

.hoverable:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.15);
}